.App {

  background-color: black;

}

.App-logo {
  height: 300px;
  pointer-events: none;
}



.App-header {
  
  min-height: 100vh;
  display: flex;
  justify-content: space-between;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

